.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 16px;
}

@media (max-width: 600px) {
  .container {
    padding: 24px 12px;
  }
}
